@import "tailwindcss";

.bg{
    background: var(--bg);
}

.bgOrange {
    background: var(--orangeColor);
}

.halfWidth {
    width: 50vw;
}


:root {
    --bg: #F9F9F7;
    --orangeColor: #FF9100;
}